.btn{
  margin-top: 40px;

  width: 172px;
  height: 61px;
  
  
  border-radius: 100px;

  background-color: transparent;

  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;

  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: white;

  border: 1px solid;
  border-image-slice: 1;
  border-radius: 50%;
  border-image-source: linear-gradient(80.06deg, #D00FFC 0%, #3A7DFF 100%);
}

.container{
  width: 100vw;
  padding-top: 147px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.texts{
  display: flex;
  flex-direction: column;
  
}
.texts>h1{
  margin-top: 8px;

  max-width: 632px;
  text-align: left;
}
.item{
  width: 632px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px 0px;

  
}
.item>img{
  width: 544px;
  height: 365px;
  border-radius: 44px;
  display: flex;
  
}
.item>h2{
  margin-top: 20px;

  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 51px;
  
  color: #FFFFFF;
  
  
}
.item>span{
  margin-top: 0;
  width: 544px;

  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  text-align: center;
}
.arrow{
  background-color: transparent;

  width: 32px;
  height: 15px;

}
.btn1{
  margin-top: 28px;

  background-color: transparent;
  border:none;
  display: flex;
  justify-self: center;
  align-items: center;

  text-align: center;

  gap: 12px;
}
.btn1>span{
  margin-top: 0;

  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  
  /* identical to box height */
  letter-spacing: 0.05em;
  
  color: #FFFFFF;
  
  opacity: 1;  
  width: auto;
}